<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<div class="container">
    <form th:action="@{'/posts/update/' + ${post.id}}" method="post">


        <label for="title">Title:</label><br>
        <input type="text" style="width:100%" id="title" name="title" th:value="${post.title}"><br>
        <label for="body">Blog Body</label><br>
        <textarea name="body" id="body" cols="30" rows="10" style="width:100%" th:text="${post.body}"></textarea><br>
        <!--    <input type="text" width="80vw" name="body" placeholder="What's on your mind?">-->
        <button class="btn btn-primary" type="submit" value="Post That Post">Post That Post</button>

    </form>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>