<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="partials/partials :: head"></div>
    <title>Sign Up</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<br>
<div class="container main-cont">
    <h1>Create an account</h1>
    <form th:action="@{/register}" method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}"/>
        <br>
        <label for="email">Email</label>
        <input id="email" th:field="*{email}"/>
        <br>
        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}"/>
        <br>
        <input value="Sign me up!" type="submit"/>
    </form>
    <br>
</div>
<standard_scripts th:replace="partials/partials :: footer"></standard_scripts>
</body>
</html>